# Shared aliases and functions sourced by both .bashrc and .zshrc

# hledger
alias hl='hledger'
alias hli='hledger import ledger/data/*.csv'
alias hlb='hledger bal --budget -p'

# git
alias gc='git checkout'
alias gc-='git checkout -'

# navigation
alias cdd='cd ~/Desktop/Development'
alias cdf='cd ~/Documents/Financials'

# refresh hledger journal
rfrj() {
    rm -f ledger/data/.latest.*
    cp /dev/null ledger/journal/2026.journal
    hli
    cat ledger/journal/starting_balances.txt > temp_journal
    cat ledger/journal/2026.journal >> temp_journal
    mv temp_journal ledger/journal/2026.journal
}

# hledger report
hlr() {
    hl print
    hl cf
    hl bs --depth 2
    hl is
}
